<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>顺通物流</title>
  </head>
  <body>
    <div id="app"></div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.<% htmlWebpackPlugin.options.url %>js"></script>
    <script src="https://unpkg.com/element-ui@2.4.9/lib/index.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=3gmRYa6mFGpkGm2vCPtP0PCKUQatS4z5"></script>
    <script>
      window.cfg = {
        baseurl: 'http://47.93.51.113:8080',
        isDev: <%= htmlWebpackPlugin.options.isDev %>,
        download: {
          sender: 'http://47.93.51.113:8080/logistics/file/downLoad.do?fileName=sender.apk',
          driver: 'http://47.93.51.113:8080/logistics/file/downLoad.do?fileName=driver.apk',
        }
      }
    </script>
    <!-- built files will be auto injected -->
  </body>
</html>
